.languageSelection{
    justify-content: flex-end;
    display:flex;
    margin: 20px 30px 0 0;
}
.translation {
    margin: 10px 20px 10px 20px;
    justify-content: center;
    display:flex;
}
.translation-card{
    border:none;
    width:85%;
    background-color: peachpuff;
}
.translation-action{
    justify-content: end;
}
.translation-action button{
    border:none;
    background-color: rgb(255, 179, 112);
    border-radius:25px;
    width:100px;
    height:25px;
}
.disclaimer{
    margin: 10px 20px 10px 20px;
    justify-content: center;
    display:flex;
}
.disclaimer-card{
    border:none;
    max-width:85%;
    background-color: peachpuff;
}
.translation .translation-spinner{
    justify-content: center !important;
    max-height:30px;
    align-items: center;
}