<div class="impressum">
    <h3>Impressum</h3>
    <p>{{ 'impressum-intro' | translate }}</p><br>
    <h4>{{ 'impressum-legal-information' | translate }}</h4>
    <p style="white-space: pre-line">{{'impressum-responsible' | translate }}</p>
    <h4>{{ 'terms-of-use' | translate }}</h4>
    <p style="white-space: pre-line">{{'terms-of-use-text' | translate }}</p>
    <h4>{{ 'accuracy' | translate }}</h4>
    <p style="white-space: pre-line">{{'accuracy-text' | translate }}</p>
    <h4>{{ 'disclaimer' | translate }}</h4>
    <p style="white-space: pre-line">{{'disclaimer-text' | translate }}</p>
</div>